@import "tailwindcss";
@plugin "daisyui";

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@theme {
  --animate-border: border 4s linear infinite;
  --background-image-neon-nightfall: linear-gradient(
    135deg,
    #191a24 0%,
    #282a36 50%,
    #44475a 100%
  );
  --color-dracula-container: #1e1f29;
  --color-dracula-bg: #282a36;
}

@keyframes border {
  to {
    --border-angle: 360deg;
  }
}

.input {
  @apply w-full bg-[#313342] border border-[#44475a] rounded-lg py-2 pl-10 pr-4 text-[#f8f8f2] placeholder-[#6272a4] focus:ring-2 focus:ring-[#bd93f9] focus:border-transparent;
}

.auth-input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-[#bd93f9] size-5 z-10;
}

.auth-input-label {
  @apply block text-sm font-medium text-[#cdd6f4] mb-2;
}

.auth-badge {
  @apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full bg-[#bd93f9]/20 text-[#bd93f9];
}

.auth-btn {
  @apply w-full bg-[#bd93f9] text-[#282a36] rounded-lg py-2.5 font-semibold hover:bg-[#a970f0] focus:ring-2 focus:ring-[#bd93f9] transition-colors;
}

.auth-link {
  @apply px-4 py-2 inline-block bg-[#bd93f9]/10 rounded-lg text-[#bd93f9] hover:text-[#a970f0] text-sm transition-colors;
}
